.value-prop {
    margin: 8rem auto 4rem auto;
    padding: 0 .6rem;
    opacity: .2;
    transition: opacity 1s ease;
}

.value-prop.intersecting {
    opacity: 1;
}

.testimonials {
    overflow-x: scroll;
    overflow-y: visible;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.testimonial-scroll::-webkit-scrollbar {
    display: none;
}

.testimonial-scroll {
    align-items: start;
    display: flex;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
}

.testimonial-photo {
    border-radius: 50%;
    height: 250px;
    overflow: hidden;
    width: 250px;
}

.testimonial-text {
    background: #eff5ff;
    border-radius: 20px;
    color: #000;
    max-width: 250px;
    padding: 1rem;
    position: relative;
    top: -30px;
    white-space: normal;
}

.testimonial-text::before {
    border: 10px solid transparent;
    border-bottom: 10px solid #eff5ff;
    content: '';
    position: absolute;
    bottom: 100%;
}

.testimonial-source {
    font-size: .9rem;
    max-width: 250px;
    padding: 1rem 0 0 0;
    position: relative;
    top: -30px;
    white-space: normal;
}

.features {
    margin: 8rem auto;
    max-width: 1000px;
}

.features ul {
    column-gap: 1rem;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.features ul > li {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feature {
    background: #eff5ff;
    border-radius: 10px;
    color: #000;
    overflow: hidden;
}

.feature-img {
    background: lightskyblue;
    height: 10rem;
    overflow: hidden;
}

.feature-img > img {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 80%;
    transition: top .8s ease;
}

.feature-img.intersecting  > img {
    top: 0;
}

.feature > h2 {
    margin: 1rem auto 0 auto;
    max-width: 600px;
    padding: 0 1rem;
}

.feature-text {
    padding: 1rem;
}

.stats {
    column-gap: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 1000px;
    row-gap: 8rem;
}

.stat {
    text-align: center;
}

.stat-big {
    font-size: 8rem;
}

.stat-small {
    font-size: 2rem;
}

.stat-bands > .stat-big {
    font-size: 4rem;
}

.guarantee {
    margin: 12rem 0 2rem 0;
    opacity: .2;
    transition: opacity 1.2s ease;
}

.guarantee.intersecting {
    opacity: 1;
}

.guarantee h2 {
    font-family: "LoRes", sans-serif;
    font-size: 2rem;
}

.waitlist {
    font-size: 1.5rem;
    margin: 0 0 12rem 0;
    text-align: center;
}

.features,
.stats,
.guarantee,
.waitlist {
    padding: 0 .6rem;
}

@media (min-width: 600px) {

    .value-prop h1,
    .guarantee h2 {
        font-family: "LoRes", sans-serif;
        font-size: 2.6rem;
        text-align: center;
    }

    .features ul {
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 760px) {

    .features ul {
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 900px) {

    .value-prop {
        margin: 6rem auto 2rem auto;
        padding: 1rem 0 2rem 0;
    }

    .features {
        margin: 12rem auto;
    }

    .guarantee {
        margin: 12rem 0 4rem 0;
    }

    .testimonial {
        font-size: .9rem;
    }

    .testimonial-source {
        font-size: .8rem;
    }

    .feature {
        font-size: .9rem;
    }

    .stats {
        column-gap: 3rem;
        display: grid;
        grid-template-areas: 'enrolled al' 'bands bands';
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        max-width: 1000px;
        row-gap: 6rem;
    }

    .stat-enrolled {
        grid-area: enrolled;
    }

    .stat-al {
        grid-area: al;
    }

    .stat-bands {
        grid-area: bands;
    }
}
