<div class="footer">
    <img src="{{ site.url }}/img/logo.png" class="footer-logo" alt="OPUS Tuition logo"/>
    <div class="footer-contact">
        <div class="footer-phone">
            <div class="footer-phone-icon"></div>
            <div class="footer-phone-text">+65 8215 5687</div>
        </div>
        <div class="footer-email">
            <div class="footer-email-icon"></div>
            <div class="footer-email-text">opus.tuitioncentre@gmail.com</div>
        </div>
    </div>
    {% include nav.html %}
    <div class="footer-copy">Opus Tuition &copy; {{ "now" | date: "%Y" }}</div>
</div>
