<nav>
  <ul>
    <li>
      <a href="{{ '/' | relative_url }}">Home</a>
    </li>
    <li>
      <a href="{{ '/tutoring-services/' | relative_url }}">Tutoring Services</a>
    </li>
    <li>
      <a href="{{ '/join-as-a-tutor/' | relative_url }}">Join as a Tutor</a>
    </li>
    <li>
      <a href="{{ site.data.contact.whatsapp_waitlist }}" target="_blank" rel="noopener noreferrer">Join Waitlist</a>
    </li>
    <li>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
    </li>
    <li>
      <a href="{{ '/guarantee/' | relative_url }}">Money-Back Guarantee</a>
    </li>
  </ul>
</nav>
